    <h3>Memo List</h3>
    
    <% @memos.each do |memo| %>
    <div class="col-sm-4">
        <div class="panel panel-danger">
          <div class="panel-heading"><%= memo.title%></div>
          <div class="panel-body">
            <%= memo.body%>
          </div>
        </div>
    </div>
    <% end %>
